@{
  Layout = "_Layout";
}

<h1>Add a new item to @Model.Name</h1>

<form action="/vendor/@Model.Id/order" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" required rows="3"></textarea>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" required>

  <button type="submit" class="btn btn-success submit-btn">Add Order</button>
</form>